@tailwind base;
@tailwind components;
@tailwind utilities;

#plan-container {
    width: auto;
    /* Ancho relativo */
    background: #cee6c3;
    height: 80vh;
    /* Alto relativo */
    border: 2px solid blue;
    position: relative;
    margin: 20px auto;
    /* Centrado horizontal */
}